* {
    font-size: 40px;
    font-weight: 100;
}


body{
    padding-top: 100px;
}

.caja-fixed {
    background: red;
    position: fixed;
    margin: -100px;

    /* tiene parecido a un absolute*/
    /* no tiene espacio reservado en pantalla*/
}